
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <label for="fileUpload">
        Select File to Upload: <input id="fileUpload" type="file" />

        <input id="btnUploadFile" type="button" value="Upload File" />
</div>