

@{
    ViewBag.Title = "ImageTest";
}

<h2>ImageTest</h2>
<div>
    <label for="fileUpload">
        Select File to Upload: <input id="fileUpload" type="file" />

        <input id="btnUploadFile" type="button" value="Upload File" />
</div>
